################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Albo1125/Assorted-Callouts
/Testing_Module/Testing_Module
/Testing_Module/.vs/Testing_Module/v16
/Testing_Module/Testing_Module.sln
/LSPDFRPlus
/TripleXGame
/FavoriteNum/.vs/FavoriteNum/v16
/FavoriteNum/Debug
/FavoriteNum/FavoriteNum/Debug
/FavoriteNum/FavoriteNum/x64/Debug
/FavoriteNum/x64/Debug
/MovieCollection/.vs/MovieCollection/v16
/MovieCollection/MovieCollection/x64/Debug
